@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Pacifico&family=Rye&display=swap');
@import "tailwindcss";
button {
    cursor: pointer;
}

.perspective {
    perspective: 600px;
}

.backface-hidden {
    backface-visibility: hidden;
}

.rotate-y-0 {
    transform: rotateY(0deg);
}

.rotate-y-180 {
    transform: rotateY(180deg);
}